<div class="footing">
    <div class="socialLinks">
        <ul class="socialOptions justify-content-center">
            <a>Copyright © 2018 BSN. All rights reserved.</a>
            <li class="socialList">
                <a target="blank" href="" role="button" class="facebook-option">
                    <span class="fa fa-facebook"></span>
                </a>
            </li>
            <li class="socialList">
                <a target="_blank" href="" role="button" class="twitter-option">
                    <span class="fa fa-twitter"></span>
                </a>
            </li>
            <li class="socialList">
                <a target="_blank" href="" role="button" class="youtube-option">
                    <span class="fa fa-youtube"></span>
                </a>
            </li>
            <li class="socialList">
                <a target="_blank" href="" role="button" class="instagram-option">
                    <span class="fa fa-instagram"></span>
                </a>
            </li>
        </ul>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.slim.js"></script>
<script src="/js/ourScript.js"></script>
<script src="/js/helpers.js"></script>
<script src="/js/upload.js"></script>