<div class="row my-5">
    <div class="col-md-6">
        <p>Welcome to ur profile {{user}}</p>
    </div>
</div>
<div class="row my-5">
    <div class="col-md-6">
       <p>Welcome to ur profile {{user}}</p>
    </div>
</div>
