<div class="row py-3">
</div>
<div class="row  text-white text-center">
    <div class="col-md-6 mx-auto">
        <div class="frame">
            <img src="/img/soccerPitch.jpg" alt="profile picture" id="profile-pic" class="img-fluid">
        </div>
        <input type="file">       
    </div>
</div>
<div class="row">
    <div class="col mx-auto">
        <hr>
        <p>Edit Profile | Edit profile img</p>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-8 mx-auto">

    </div>
</div>