
    <div class="row py-3">

    </div>
    <div class="row my-5 text-white text-center">
        <div class="col-lg-4" id="profile-pic">
            <img src="/img/soccerPitch.jpg" alt="profile picture">
            <br>
            <br>
        </div>
        <div class="col-lg-8">
            <p>Welcome to ur profile {{user}}</p>
        </div>
    </div>
