<div class="row text-white" id="register">
    <div class="col-md-4 m-auto">
        <form action="">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control"><br>
                <label for="password">Password</label>
                <input type="password" class="form-control"><br>
                <label for="email">Email</label>
                <input type="email" class="form-control"><br>
                <label for="phone">Phone No.</label>
                <input type="text" class="form-control"><br>
                <label for="age">Age</label>
                <input type="text" class="form-control">
                <br>
                <br>
                <input type="submit" class="form-control btn btn-danger" value="Submit">
            </div>
        </form>
    </div>
</div>