<div class="row text-white mb-3" id="register">
    <div class="col-lg-8 m-auto">
        <div class="text-center">
            Registration
        </div>
        <form action="/api/players" method="POST" class="loginFrame">
            <div class="form-row">
                <div class="from-group col-md-6">
                    <label for="fristName">First Name</label>
                    <input type="text" class="form-control" placeholder="First Name" name="firstname" value="{{firstname}}" required aria-required="true">
                </div>
                <div class="form-group col-md-6">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" placeholder="Last Name" name="lastname" value="{{lastname}}" required aria-required="true">
                </div>
            </div>
            <div class="form-group">
                <label for="userName">Username</label>
                <input type="text" class="form-control" placeholder="Username" name="username" value="{{username}}" required aria-required="true">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" placeholder="Password" name="password" title="(at least 6 characters, no spaces)"
                        pattern="\S{6,}">
                </div>
                <div class="form-group col-md-6">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" class="form-control" placeholder="Confirm Password" name="confirmPassword">
                </div>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" placeholder="Email" name="email" value="{{email}}" required aria-required="true">
            </div>
 
            <div class="form-group">
                <label for="location">Location</label>
                <select name="location" name="location" class="form-control">
                    <option value="">Choose one</option>
                    <option value="Central">Central</option>
                    <option value="Wanchai">Wanchai</option>
                    <option value="Sheung Wan">Sheung Wan</option>
                </select>
            </div>
            
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <input type="radio" id="player" name="role" value="false" checked>
                    <label for="player">Player</label>
                </div>
                 <div class="form-group col-sm-6">
                    <input type="radio" id="manager" name="role" value="true" >
                    <label for="manager">Manager</label>
                </div>
            </div>

            <input type="submit" class="btn btn-danger btn-block" value="Submit">
        </form>
    </div>
</div>