#navbarCollapse li {
    box-shadow: 1px 2px 4px  rgb(4, 5, 5);
    outline: none;
    border-radius: 10px;
}
#navbarCollapse li:active { 
    box-shadow: 0 1px #333;
    transform: translateY(2px);
}


#navbarCollapse a{
    color: #fff;
}
body {
    background: url('/img/football-stadium.jpg');
    background-size: cover;  
    background-position: fixed;
}
.teamlistbutton{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#message {
    display: flex;
    
    margin-top : 70px;
    justify-content: center;
    align-items: center;
}

/* profile upload buttom */
.custom-file-upload {
    border: 1px solid rgb(54, 53, 53);
    border-radius: 20px;
    box-shadow: 0 3px  #282929;
    display: inline-block;
    padding: 6px 12px;
    height: 40px;
    cursor: pointer;
}
.custom-file-upload:active {
    box-shadow: 0 1px #282929;
    transform: translateY(2px);
}

#file-upload{
    display: none;
}
/* profile upload end */

.navbar {
    box-shadow: 0 2px 2px #333;
}

#navbarCollapse li:hover {
    background-color: #000 !important;
    /* opacity: 0.5; */
}

.btn {
    border-radius: 20px;
    outline: none;
}
/* card */
.card {
    border-radius: 20px !important;
    border: 0;
}
.cardHead {
    color: #fff;
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    background: linear-gradient(45deg, rgb(28, 155, 228),rgb(89, 163, 233),rgb(28, 155, 228));
}
.cardFooter {
    display: flex;
    justify-content: center;
}
.card-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* --end of card */


.facebook-btn {
    background: linear-gradient(-90deg, rgb(23, 110, 168), rgb(9, 125, 192));
}

#register {
    font-family: 'Nanum Brush Script', cursive;
    font-size: 1.2em;
    
}
#register form{   
    background: linear-gradient(-45deg,rgb(72, 178, 240),rgb(1, 111, 184),rgb(75, 188, 240));
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px; 
    border-radius: 20px;
}

#profile-pic {
    max-width: 320px;
}
/* profile pic */
img {
    border-radius: 10px;
  }
  #cloudIcon {
      color: #fff;
  }
  /* profile img save button */
  .save {
    width: 150px;
    height: 40px;
    box-shadow: 0 2px 1px #050505;
    outline: none;
    border-radius: 20px;
    color: #fff;
  }
  .save:active {
    box-shadow: 0 1px #282929;
    transform: translateY(2px);
}

  /* profile picture frame */
  .frame {
    background-color:rgb(41, 139, 21);
    border:solid 1vmin rgba(30, 122, 18, 0.897);
    border-bottom-color:rgb(28, 133, 89);
    border-left-color:rgb(28, 133, 89);
    border-radius:10px;
    border-right-color:rgb(28, 133, 51);
    border-top-color:rgb(28, 133, 89);
    box-shadow:0 0 5px 0 rgb(59, 58, 58) inset, 0 5px 10px 5px rgba(0,0,0,.25);
    box-sizing:border-box;
    display:inline-block;
    position:relative;
    text-align:center;
  }
   .frame:before {
      border-radius:10px;
      bottom:-1vmin;
      box-shadow:0 2px 5px 0 rgba(0,0,0,.25) inset;
      content:"";
      left:-1vmin;
      position:absolute;
      right:-1vmin;
      top:-1vmin;
    }

    /* end of profile pic frame */


/* login page */
.loginFrame {
    background-color:rgb(6, 106, 173);
    border:solid 1vmin rgba(39, 154, 221, 0.897);
    border-bottom-color:rgb(20, 147, 231);
    border-left-color:rgb(65, 157, 231);
    border-radius:10px;
    border-right-color:rgb(33, 158, 216);
    border-top-color:rgb(17, 132, 199);
    box-shadow: 2px 5px 8px  #050505;
    outline: none;
    box-sizing:border-box;
}

.loginBody {
    /* height: 100vh;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-bottom: 40px; */
    margin-top: 50px;
    /* z-index: 3; */
  }
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 20px;
    margin: 0 auto;  
    background: linear-gradient(-45deg,rgb(72, 178, 240),rgb(1, 111, 184),rgb(75, 188, 240));
    border-radius: 20px; 
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-radius: 20px;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-radius: 20px;
  }
  /* end of login */

  .backgroundForm {
      background: rgb(2, 2, 2);
      opacity: 0.6;
      padding: 20px;
      border-radius: 10px;
      font-family: 'Times New Roman', Times, serif;
      color: #fff;
  }

  .teamslist {
      color: #fff;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 22px; 
  }
  
  #playerslist {
      display: flex;
      align-content: center;
      justify-content: center;
  }
  .player-card {
      margin-left: 10px;
      margin-bottom: 10px;
      box-shadow: 3px 5px 2px #000;
  }
  .player-card + .player-card {
        margin-left: 10px; 
  }