#navbarCollapse li {
    box-shadow: 3px 3px 7px  rgb(24, 154, 180);
    border: 0.3px solid white;
    outline: none;
    border-radius: 10px;
}
#navbarCollapse li:active { 
    box-shadow: 0 1px #333;
    transform: translateY(2px);
}

/* highlighting tab */
#menu a:active {
    color: rgb(24, 154, 180);
}

/* logo */
.logo {
    max-height: 40px;
}
.banner {
    height: 270px;
    background: rgba(195, 214, 231, 0.336);
}


.navbar-nav {
    margin-left: 150px;
}

@media (max-width: 56.25em){
.navbar-nav {
    margin-left:0;
}
}

#navbarCollapse a{
    color: #fff;
}


/* body {
    background: url('/img/football-stadium.jpg');
}
   */ 
.teamlistbutton{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#message {
    display: flex;
    
    margin-top : 70px;
    justify-content: center;
    align-items: center;
}

/* profile upload buttom */
.custom-file-upload {
    border-radius: 20px;
    display: inline-block;
    padding: 6px 12px;
    height: 40px;
    cursor: pointer;
    background-color: #343a40;
    box-shadow: 3px 3px 7px  rgb(24, 154, 180);
    border: 0.5px solid white;
}
.custom-file-upload:active {
    box-shadow: 0 1px #282929;
    transform: translateY(2px);
}
@media (max-width: 56.25em){
    .custom-file-upload {
        height: 29px;
    }
}

/* tournament edit button */
.editbtn{
    border-radius: 20px;
    display: inline-block;
    padding: 9px 17px;
    height: 40px;
    cursor: pointer;
    background-color: #343a40;
    box-shadow: 3px 3px 7px  rgb(24, 154, 180);
    border: 0.5px solid white;
    margin-left: 69px;
}
@media (max-width: 56.25em){
    .editbtn{
        height: 29px;
        font-size: 10px;
        margin-left: 20px;
        padding: 7px 14px;
    }
}



#file-upload{
    display: none;
}
/* profile upload end */

.navbar {
    box-shadow: 0 2px 2px  #282929;
    background: linear-gradient(-45deg,rgb(104, 115, 121),#3e4449,rgb(60, 73, 80));
}

#navbarCollapse li:hover {
    background-color: #000 !important;
    /* opacity: 0.5; */
}

.btn {
    border-radius: 20px;
    outline: none;
}
/* tournament save button for mobile*/
@media (max-width: 63.9375em){
    .tbtn {
        margin-left: 20px;
    }
}

/* card */
.card {
    border-radius: 20px !important;
    border: 0;
}
.cardHead {
    color: #fff;
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    background: linear-gradient(45deg, rgb(28, 155, 228),rgb(89, 163, 233),rgb(28, 155, 228));
}
.cardFooter {
    display: flex;
    justify-content: center;
}
.card-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* --end of card */

hr {
    color: #fff !important;
}
.facebook-btn {
    background: linear-gradient(-90deg, rgb(23, 110, 168), rgb(9, 125, 192));
}

#register{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    background: url('/img/fifa-background.jpg');
    margin-top: -8px;
    background-size: cover;
}
.conBack{
    background: url('/img/fifa-background.jpg');
    background-size: cover;
    height: 20px;
    margin-top: -17px;
}
#register form {   
    background: linear-gradient(-45deg,rgb(72, 178, 240),#32587e,rgb(75, 188, 240));
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px; 
    border-radius: 20px;
}

/* login page */
.loginFrame {
    background-color: rgba(39, 154, 221)!important;
    border:solid 1vmin rgba(39, 154, 221, 0.897);
    border-bottom-color:#1a65af;
    border-left-color:rgb(61, 87, 109);
    border-radius:10px;
    border-right-color:rgb(25, 128, 175);
    border-top-color:rgb(43, 90, 117);
    box-shadow: 2px 5px 8px  rgb(24, 154, 180);
    outline: none;
    box-sizing:border-box;
}

.loginBody{
    background: url('/img/fifa1-background.jpg');
    margin-top: -8px;
    height: 100vh;
    background-position-y: -170px;
    background-size: cover;
}

.loginBody {
    /* height: 100vh;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-bottom: 40px; */
    /* z-index: 3; */
  }
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 20px;
    margin: 0 auto;  
    background: linear-gradient(-45deg,rgb(53, 100, 128),#356ba0,rgb(53, 100, 128));
    border-radius: 20px; 
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-radius: 20px;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-radius: 20px;
  }
  /* end of login */

  .backgroundForm {
      background: rgb(2, 2, 2);
      opacity: 0.6;
      padding: 20px;
      border-radius: 10px;
      font-family: 'Times New Roman', Times, serif;
      color: #fff;
  }
 
  .teamslist {
      color: #fff;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 22px; 
  }
  
  #playerslist {
      display: flex;
      align-content: center;
      justify-content: center;
      flex-wrap: wrap;
  }
  .player-card {
      min-width: 300px;
      max-width: 300px;
      margin-left: 10px;
      margin-bottom: 10px;
      box-shadow: 3px 5px 2px #000;
  }
  .player-card + .player-card {
        margin-left: 10px; 
  }
  /* squad list table */
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th {
    background: linear-gradient(45deg,rgb(4, 150, 175),rgb(6, 129, 201),rgb(20, 156, 197));
    color: #fff;
}

/* tr:nth-child(even) {
    background-color: #dddddd;
} */
/* end of list */



/* profile page */

/* picture iamge */
 #profile-pic {
    max-height: 220px;
}

@media (max-width: 56.25em){
    #profile-pic {
        max-width: 145px;
    }
}
img {
    border-radius: 10px;
  }
  #cloudIcon {
      color: #fff;
  }

/* profile img save button */
.save {
    width: 150px;
    height: 40px;
    box-shadow: 0 2px 1px #050505;
    outline: none;
    border-radius: 20px;
    color: #fff;
  }
.savebtn{
    background-color: rgb(24, 154, 180);
    box-shadow: 3px 3px 7px  rgb(24, 154, 180);
    border: 0.4px solid white;
    height:40px;
}
@media (max-width: 56.25em){
    .savebtn{
        height:29px;
        font-size: 10px;
    }
}
  .save:active {
    box-shadow: 0 1px #282929;
    transform: translateY(2px);
}
.form-group1 {
    /*margin-left: 55px;*/
    margin-top:2px;
}
@media (max-width: 56.25em){
    .form-group1 {
        margin-left: -7px;
        margin-top: 31px;
        font-size: 10px;
}}

  /* profile picture frame */
 /* .frame {
    background-color:rgb(41, 139, 21);
    border:solid 1vmin rgba(30, 122, 18, 0.897);
    border-bottom-color:rgb(28, 133, 89);
    border-left-color:rgb(28, 133, 89);
    border-radius:10px;
    border-right-color:rgb(28, 133, 51);
    border-top-color:rgb(28, 133, 89);
    box-shadow:0 0 5px 0 rgb(59, 58, 58) inset, 0 5px 10px 5px rgba(0,0,0,.25);
    box-sizing:border-box;
    display:inline-block;
    position:relative;
    text-align:center;
  }
   
.frame:before {
    border-radius:10px;
    bottom:-1vmin;
    box-shadow:0 2px 5px 0 rgba(0,0,0,.25) inset;
    content:"";
    left:-1vmin;
    position:absolute;
    right:-1vmin;
    top:-1vmin;
}
*/
  
    /* end of profile pic frame */
 h1, h2, h3, h4, h5, h6 {
    font-family: "PremierSans-Bold", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: normal;
    font-weight: normal;
}
    
.row{
    max-height: 300px;
}

@media (max-width: 63.9375em){
    .row {
        max-height:500px;
    }
}    

.playerContainer {
    background-color: rgba(195, 214, 231, 0.336);
    /* margin-bottom: 30px; */
}
    
.imgContainer {
    height: 450px;
}

@media (max-width: 56.25em){
    .imgContainer {
        max-width: 250px;
        height:200px;
}}

.playerImg {
    max-height: 220px;
}
   
@media (max-width: 50.25em){
    .playerImg {
        max-height: 100px;
    }
}
    
.playerDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -30px;
}
    
@media (max-width: 50.25em){
    .playerDetails {
        font-size: 10px;
        max-width: 150px;
    }
    .name {
        font-size: 12px;
    }
}
    
.playerNumberLrg {
    right: -5rem;
    top: -1rem;
    font-size: 17rem;
    position: absolute;
    z-index: 0;
    letter-spacing: -10px;
    opacity: .8;
    font-family: PremierSans-Bold,Arial,Helvetica Neue,Helvetica,sans-serif;
    font-weight: normal;
}
    
@media (max-width: 56.25em){
    .playerNumberLrg {
        display: none;
}}
        
@media (max-width: 63.9375em){
    .playerNumberLrg {
            right: -4rem;
            bottom: -7rem;
            font-size: 250px;
}}
        
    /* playerInfo section */
.playerInfo {
        position: relative;
        margin-top: -2rem;
        margin-bottom: 5rem;
        margin-left: -2rem;
        padding-left: 2rem;
        padding-top: 2rem;
        background: #fff;
        z-index: 20;
}
@media (max-width: 56.25em){
    .playerInfo{
        padding-top:1rem;
        margin-bottom: 3rem;
    }
}

    .playerInfo1 {
            position: relative;
            margin-bottom: 8rem;
            margin-left: -2rem;
            padding-left: 2rem;
            background: #fff;
            z-index: 20;
    }
    
    .personalLists {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-top: 4px solid rgba(194, 192, 192, 0.808);
    }
    
    @media (max-width: 63.9375em) {
        .personalLists {
            display: flex;
            flex-direction: vertical;
            font-size: 12px;
        }
    }
    
    .pdcol1 .pdcol2 .pdcol3 {
        width: 33.33%;
    }
    

    /* club page*/
.clubContainer {
    background-color: rgba(195, 214, 231, 0.336);
    margin-bottom: 30px;
}

.badgeContainer {
    max-height:270px;
}

.clubImg {
    max-height: 150px;
}
@media (max-width: 50.25em){
    .clubImg {
        max-height: 100px;
    }
    .badgeContainer {
        max-width: 175px;
        height: 200px;
    }
}

.clubDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -30px;
}
@media (max-width: 50.25em){
    .clubDetails {
        font-size: 10px;
        max-width: 200px;
        margin-left: 0;
    }
    .clubName {
        font-size: 12px;
    }
}


@media (max-width: 56.25em){
    .staImg {
        display: none;
    }}
    
@media (max-width: 63.9375em){
   .staImg {
        right: -4rem;
        bottom: -7rem;
        font-size: 250px;
    }}

/* teamInfo section */
.teamInfo {
        position: relative;
        margin-top: -1rem;
        margin-bottom: 2rem;
        margin-left: -2rem;
        padding-left: 2rem;
        padding-top: 2rem;
        background: #fff;
        z-index: 20;
}
@media (max-width: 56.25em){
    .teamInfo{
        padding-top: 0;
    }
}
.teamInfo1 {
        position: relative;
        margin-bottom: 8rem;
        margin-left: -2rem;
        padding-left: 2rem;
        background: #fff;
        z-index: 20;
}

.personalLists {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 4px solid rgba(194, 192, 192, 0.808);
}

@media (max-width: 63.9375em) {
    .personalLists {
        display: flex;
        flex-direction: vertical;
        font-size: 12px;
    }
}

.pdcol {
    border-right: 1px solid rgba(194, 192, 192, 0.808);
}

ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.label {
    color: #76766f;
    width: 40%;
    vertical-align: middle;
}
.info {
    display: inline-block;
    margin-right: -4px;
    width: 50%;
}

li {
    border-bottom: 1px solid rgba(232, 232, 232, 0.808);
}

li {
    line-height: 1.4;
    padding: 0.5rem 1rem;
}

@media (max-width: 63.9375em){
ul {
    width: 100%;
    border: none;
}}

.staImg {
    max-height: 240px;
}


/* Style all font awesome icons */
/*
.fa {
    padding: 10px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background-color: white;
}
*/

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}


/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    color: #3B5998;
}

/* Twitter */
.fa-twitter {
   color:  #55ACEE;
}

/* Youtube */
.fa-youtube {
    color: rgb(247, 7, 7);
}

/* Instagaram */
.fa-instagram {
    color: rgb(247, 7, 215);
}

.socialList {
    list-style-type: none;
    border-bottom: none;
}

.socialOptions {
    border-right: none;
    display: flex;
}

/* Tournament Page */
.tourneyContainer1 {
    background-color: rgba(195, 214, 231, 0.336);
    max-height:270px;
    padding-bottom: 20px;
    margin-top: -5px;
}
@media (max-width: 63.9375em){
    .tourneyContainer1 {
        max-height: 500px;
    }
}


.tourneyContainer2 {
    background-color: rgba(231, 196, 195, 0.336);
    max-height:270px;
    padding-bottom: 20px;
    margin-top: -5px;
}
.tourneyContainer3 {
    background-color: rgba(215, 231, 195, 0.336);
    max-height:270px;
    padding-bottom: 20px;
    margin-top: -5px;
}
.tourneyContainer4 {
    background-color: rgba(218, 195, 231, 0.336);
    max-height:270px;
    padding-bottom: 20px;
    margin-top: -5px;
}

@media (max-width: 50.25em){
    .tourContainer {
        font-size: 10px;
        max-width: 150px;
        margin-left: 110px;
    }
}

.troImg {
    margin-top: 20px;
}

@media (max-width: 50.25em){
    .troImg {
        max-height: 100px;
        margin-top: 20px;
    }
}

.tourneyDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -30px;
}
@media (max-width: 50.25em){
    .tourneyDetails {
        font-size: 11px;
        margin-left: 10px;
        margin-top: 5px;
    }
}

.tourneyLists {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 4px solid rgba(194, 192, 192, 0.808);
    font-size: 14px;
}

@media (max-width: 63.9375em) {
    .tourneyLists {
        display: flex;
        flex-direction: vertical;
        font-size: 11px;
    }
}


.pdcol {
    border-right: 1px solid rgba(194, 192, 192, 0.808);
}

ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.label {
    color: #76766f;
    width: 40%;
    vertical-align: middle;
}

.tourlist {
    border-bottom: 1px solid rgba(232, 232, 232, 0.808);
    line-height: 1.4;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
}

#tournament-delete {
    display: inline-block;
}
/* end of Tournament*/

/* teams listing page */
.teamContainer1 {
    background-color: rgba(231, 195, 216, 0.336);
    max-height:270px;
    padding-bottom: 20px;
    margin-top: -5px;
}
@media (max-width: 63.9375em){
    .teamContainer1 {
        max-height: 500px;
    }
}
@media (max-width: 50.25em){
    .teamContainer {
        font-size: 11px;
        max-width: 150px;
        margin-left: 110px;
    }
}

.teamImg {
    margin-top: 8px;
    max-height: 150px;
}

@media (max-width: 50.25em){
    .teamImg {
        max-height: 100px;
        margin-top: 3px;
    }
}
.teamDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -30px;
}
@media (max-width: 50.25em){
    .teamDetails {
        font-size: 11px;
        margin-left: 10px;
        margin-top: 5px;
    }
}

.teamLists {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 4px solid rgba(194, 192, 192, 0.808);
    font-size: 14px;
}

@media (max-width: 63.9375em) {
    .teamLists {
        display: flex;
        flex-direction: vertical;
        font-size: 11px;
    }
}

/* alert */
#amess {
    z-index: 1;
    position:absolute;
    left: 50%;
    top:10%;
    transform: translateX(-50%);
    min-width: 600px;
}
body {
    position:relative;
}